<footer class="container py-1">


    <div class="row">
      <!-- DIV Contains "Remo" and a 2020 Copyright -->
      <div class="col-12 col-md">
        <h1 class="d-block mb-3"> Remo</h1>
        <small class="d-block mb-1 text-dark">&copy; 2020</small>
      </div>

      <!-- This is an empty column to space the other ones out a bit better (do not delete) -->
      <div class="col-6 col-md">
        <h5></h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="#"></a></li>
          <li><a class="text-dark" href="#"></a></li>
          <li><a class="text-dark" href="#"></a></li>
          <li><a class="text-dark" href="#"></a></li>
        </ul>
      </div>

      <!-- Quicklinks (bring you to various pages on the app) -->
      <div class="col-6 col-md">
        <h5>Quicklinks</h5>
        <ul class="list-unstyled text-body">
          <li><a class="text-dark" href="/">Welcome Page</a></li>
          <li><a class="text-dark" href="/reminder">Reminder List</a></li>
          <li><a class="text-dark" href="/reminder/new">Create a Reminder</a></li>
        </ul>
      </div>

      <!-- Resources (Non-functional right now, wanted to link to README and License) -->
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="#">Documentation</a></li>
          <li><a class="text-dark" href="#">Licensing</a></li>
          <li><a class="text-dark" href="#">Customer Support</a></li>

        </ul>
      </div>

      <!-- If we were a real company we could use these :P -->
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-dark" href="/">Remo</a></li>
          <li><a class="text-dark" href="#">Team</a></li>
          <li><a class="text-dark" href="#">Locations</a></li>
          <li><a class="text-dark" href="#">Privacy</a></li>
        </ul>
      </div>
    </div>
  </footer>