.deleteForm {
  display: inline-block
}

body {
    /* padding: 0; */
    margin: 0;
    /* width: 100%; */
    /* height: 100vh; */

    /* background: linear-gradient(45deg, rgba(53,85,65,1) 0%, rgba(54,94,108,0.7959558823529411) 46%, rgba(186,235,198,0.13209033613445376) 100%); */

    background: linear-gradient(30deg, rgba(53, 85, 65, 0.322) 0%, rgba(54, 108, 96, 0.796) 46%, rgba(30, 122, 118, 0.925) 100%);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}    

.container-fluid {
  /* the what menu bar at the top */
    font-family: Playfair Display;
    color: rgb(11, 56, 63);

    text-shadow: 3px 3px lightblue;
    border-collapse: collapse;
}
/* .:hover {
    background: #70bca2;
  } */

.page-header {
    font-family: Playfair Display;
    color: white;
    text-shadow: 3px 3px rgb(21, 75, 75);
      text-align: center;
}

.carousel-item {
  height: 400px;
}

.item-img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}