<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promo page</title>
</head>
<body>
    <h1>Page1</h1>
    <img src="https://i.imgur.com/OfQNkxj.png" alt="page1" srcset=""/>
    <!-- <a href="/reminder">Go to reminder</a> -->
</body>
</html>