<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Promo Page</title>

</head>
<body>
    <div class="container">
        <br>
        <div class="jumbotron">
            <p class="lead">
                <h1>Landing Page</h1>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/reminder/new" role="button">Get Started</a>
            </p>

            <img src="https://thehappypuppysite.com/wp-content/uploads/2017/12/small-dog-names.jpg" alt="page1" style="width: 50%;" srcset=""/>
        </div>
    </div>

</body>
</html>