<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Promo Page</title>

</head>

<body>
    <!-- CAROUSEL BELOW -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <!-- <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol> -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 item-img" src="https://s.abcnews.com/images/Lifestyle/puppy-ht-3-er-170907_16x9_992.jpg" alt="First slide">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Header</h5>
                <p>Paragraph</p>
            </div> -->
          </div>
          <div class="carousel-item">
            <img class="d-block w-100 item-img" src="https://www.iams.com/images/default-source/article-image/article_puppy-basics-keeping-your-puppy-s-skin-and-coat-healthy_header.jpg" alt="Second slide">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Header 2</h5>
                <p>Para 2</p>
            </div> -->
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/taking_care_of_kitten_slideshow/1800x1200_taking_care_of_kitten_slideshow.jpg" alt="Third slide">
            <!-- <div class="carousel-caption d-none d-md-block">
                <h5>Header 3</h5>
                <p>Paragraph 3</p>
            </div> -->
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    
    <!-- PRODUCT INFO BELOW -->
    <div class="container">   
      <br>
      <div>
          <p class="lead">
              <h1>Welcome to Remo</h1>
          </p>
          <p class="lead">
              <a class="btn btn-primary btn-lg" href="/reminder/new" role="button">Get Started</a>
          </p>

          <img src="https://thehappypuppysite.com/wp-content/uploads/2017/12/small-dog-names.jpg" alt="page1" style="width: 50%;" srcset=""/>

          <hr class="featurette-divider">

        <!-- MEET THE TEAM -->
        <p class="lead">
          <h1>Meet the team!</h1>
        </p>
        <div class="row">
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Ethan</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Ethan Sadowski</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Arjun</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Arjun Dhaliwal</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Vivian</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            <h2>Vivian Cao</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View website &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div>

    </div>
    
    <!-- FOOTER WITH "COMPANY INFO" -->

</body>
</html>